<div class="card" style="text-align: center">
  <h5 class="card-header">Welcome to your {{ title }}</h5>
  <div class="card-body">
    <h5 class="card-title">Gotta catch em' all</h5>
    <form [formGroup]="formPokedex">
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" formControlName="name" class="form-control-lg" placeholder="Pokémon Name or ID">
        </div>
      </div>
      <button class="btn btn-primary" (click)="getPoke()" [disabled]="!formPokedex.valid">Go'tcha!</button>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead style="background-color: #ffff00">
    <tr>
      <th>ID</th>
      <th>Pokemon</th>
      <th>Catch Date</th>
      <th>Abilities</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of catch" class="tr:nth-of-type(odd)">
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.date }}</td>
      <td *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</td>
    </tr>
  </tbody>
</table>